<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partial/head') %>
    <title>Document</title>
</head>
<body>
    <%-include('../partial/nav') %>
<div>
    <%=JSON.stringify(user)%>
    <%=JSON.stringify(allblog)%>
  <div class="container">
    <%allblog.forEach((blog)=>{%>
        <div class="card" style="width: 18rem;">
            <img src=<%=blog.coverImgUrl%>  class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=blog.title%></h5>
              <a href="/blog/<%=blog.title%>" class="btn btn-primary">View More</a>
            </div>
          </div>
   <% }) %>
   
  </div>

</div>

    <%-include('../partial/script') %>
</body>
</html>